<footer class="footer">
  <div class="container-fluid" id="footer">
    <div class="row">
      <img src="../../assets/fincityLogo.jpg" class=" fincity pull-left">
    </div>
    <div class="row">
      <div class=" col-sm-8 col-md-8 col-lg-2 col-xs-2">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.0007237356003!2d77.59520531413519!3d12.971805218385194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1679e97f7cc9%3A0xd16c5d4150518fe2!2sFincity!5e0!3m2!1sen!2sin!4v1580139180420!5m2!1sen!2sin"
          width="200" height="300" frameborder="0" style="border:0;" allowfullscreen="" class="pdt"></iframe>
      </div>
      <div class=" col-sm-4 col-md-4  col-lg-2 col-xs-2">

      
        <ul class="footer_ul_amrc pdt   ">
          <li><b>Email ID:</b><span><a href="#">contact@fincity.com</a></span></li>
          <li><b>Phone:</b><span><a href="#">080-40828400</a></span></li>
          <li><b>Address:</b><span><a href="#">33/1, 3rd Floor,Vittal Maliya road,(Near UB City), Banglore 560001
              </a></span></li>

        </ul>
      </div>
      <div class=" col-sm-4 col-md-4  col-lg-2 col-xs-2">
        <h5 class="  pt2"> Company</h5>
        
        <ul class="footer_ul_amrc">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Terms Of Use </a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class=" col-sm-4 col-md-4  col-lg-2 col-xs-2">
        <h5 class="  pt2">Products</h5>
        <ul class="footer_ul_amrc">
          <li><a href="#">Home Loan </a></li>
          <li><a href="#">Salaried </a></li>
          <li><a href="#">Self-Employed </a></li>
          <li><a href="#">Pradhan Mantri Awas Yojna </a></li>

        </ul>
      </div>
      <div class=" col-sm-4 col-md-4  col-lg-4 col-xs-2">
        <ul class="footer_ul_amrc pdt ">
          <div class="inline-block">
             <button class="btn btn-primary ">Career</button>
            <button class="btn btn-primary ">Business
              Partner Registration</button>
            </div>
            <div class="inline-block ">
            <img src="../../assets/cibil-logo-lt.svg" class="blocktwo">
            <img src="../../assets/experianLogo.png" class="blocktwo">
             </div>
        </ul>
      </div>
    </div>
  </div>
</footer>
