<div class="container-fluid" id="body">

  <div class="row">


    <div class="row rowone commonclass">
      <img src="../../assets/logoTop.jpg" class="logotop">
      <h6>MAKE YOURSELF AT HOME IN 6 STEPS</h6>
    </div>
    <div class="row rowtwo commonclass box">
      <div class="card-deck">
        <div class="card">
          <div class="card-header firstblock">
            <h5 class="card-title ">Sign Up & Check Credit Score</h5>
          </div>
          <div class="card-body">

            <p class="card-text">Sign up to avail product from across diverse loans,properties and being conected to
              over 50 lenders. In addition, check your credit score without impacting it, and get the best loan offer
              suited to your needs.</p>

          </div>
        </div>
        <div class="circleLarge" id="one">
          <div class="circlemiddle">
            <div class="circle">
              <h2>1</h2>
            </div>
          </div>

        </div>

        <div class="card">
          <div class="card-header firstblock">
            <h5 class="card-title ">PAN Card Update</h5>
          </div>
          <div class="card-body">

            <p class="card-text">Update your PAN Card with us so that we can perform a soft check for your Credit
              Score.Upload a copy from your galary anytime, anywhere</p>

          </div>
          <div class="circleLarge numbers">
            <div class="circlemiddle">
              <div class="circle">
                <h2>2</h2>
              </div>
            </div>

          </div>
        </div>

        <div class="card">
          <div class="card-header firstblock">
            <h5 class="card-title ">Address Proof Update</h5>
          </div>
          <div class="card-body">

            <p class="card-text">Update your address proof by uploading either your Driving License/Registered Rent
              Agreement/Utility Bill. You will, in no time, be made a loan offer to get closer to your dream home.</p>

          </div>
          <div class="circleLarge numbers">
            <div class="circlemiddle">
              <div class="circle">
                <h2>3</h2>
              </div>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>
  <div class="vertical">

  </div>
  <div class="row">
    <div class="row rowthree commonclass box">
      <div class="card-deck">
        <div class="card secondcard">
          <div class="card-header secondblock">
            <h5 class="card-title ">Loan Offer</h5>
          </div>
          <div class="card-body">

            <p class="card-text">We are delighted to offer you a loan for purchase of your dream home. You are now only
              two steps away. You will be required to E-Sign the offer in acceptance and will be provided with a
              provisional Sanction Letter.</p>

          </div>
          <div class="circleOuter numbers">
            <div class="circlemiddle">
              <div class="circlesmall">
                <h2>A</h2>
              </div>
            </div>

          </div>
        </div>
        <div class="card secondcard">
          <div class="card-header secondblock">
            <h5 class="card-title ">E-Sign</h5>
          </div>
          <div class="card-body">

            <p class="card-text">We are glad to know of your acceptance of our loan offer. Please e-sign the same, so
              that
              we can proceed with sharing a provisional Sanction-Letter.</p>

          </div>
          <div class="circleOuter numbers">
            <div class="circlemiddle">
              <div class="circlesmall">
                <h2>B</h2>
              </div>
            </div>

          </div>
        </div>
        <div class="card secondcard">
          <div class="card-header secondblock">
            <h5 class="card-title ">Sanction Letter</h5>
          </div>
          <div class="card-body">

            <p class="card-text">Congratulations! You are now officially one step away from realising what you dreamt!
              Here's presenting a Provisional Sanction Letter to be produced at the bank, and have them process you
              loan.
            </p>

          </div>
          <div class="circleOuter numbers">
            <div class="circlemiddle">
              <div class="circlesmall">
                <h2>C</h2>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>